*{
    text-align: center;
    font-family: sans-serif;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-color: dimgrey;
    height: 100%;
    width: 100%;
}
main{
    height: inherit;
    width: inherit;
}
.mainhero{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
a{
    color: peachpuff;
    padding-right: 2em;
}
h1{
    font-size: 2rem;
}
h1,h2{
    color:white
}
img{
    width:20em;
    border-radius: 10px;
}
li{
    text-align: start;
}
.recipe{
    margin: 0 auto;
    width:60%;
    padding: 2em;
    background-color: peachpuff;
    border-radius: 5px;
    color:black;
}
button{
    background-color: dimgrey;
    height: 3em;
    width: 8em;
    border-radius: 5px;
    color: white;
}
button:hover{
    cursor: pointer;
}